<!-- Delete User -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SecureCloud - Delete User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <link rel="shortcut icon" href="../static/favicon.png">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        ul {
            font-family: "Rubik";
        }

        li {
            margin-top: 10px;
            margin-left: -15px;
            list-style-type: none;
        }

        h4, h3, h2 {
            font-family: "Rubik";
            margin-top: 5px;
            margin-left: 0px;
        }
    </style>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">SecureCloud</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="files">Files</a>
                    <a class="mdl-navigation__link" href="settings">Settings</a>
                    <a class="mdl-navigation__link" href="users">Users</a>
                    <a class="mdl-navigation__link" href="home">Home</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">SecureCloud</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="files">Files</a>
                <a class="mdl-navigation__link" href="settings">Settings</a>
                <a class="mdl-navigation__link" href="users">Users</a>
                <a class="mdl-navigation__link" href="home">Home</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <h2 style="margin-left: 20px; margin-top: 20px;"><b>Delete User</b></h2>
                <ul>
                    <li>
                        <h4>Are you sure you want to delete this user?</h4>
                    </li>
                    <li>
                        <h4>User: {{username}}</h4>
                    </li>
                </ul>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="deleteUser()">
                            Delete
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="cancel()">
                            Cancel
                        </button>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col"></div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>