<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index of {{ (request.path + '/' if request.path != '/' else '')}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <link rel="shortcut icon" href="../static/favicon.png">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<style>
    ul {
        font-family: "Rubik";
    }

    a:link {
        color: blue;
        background-color: transparent;
    }

    a:visited {
        color: purple;
        background-color: transparent;
    }

    a:hover {
        color: red;
        background-color: transparent;
    }

    a:active {
        color: purple;
        background-color: transparent;
    }

    
</style>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">{{title}} - {{ (request.path + '/' if request.path != '/' else '')}}</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/files">{{files_link}}</a>
                    <a class="mdl-navigation__link" href="/settings">{{settings_link}}</a>
                    <a class="mdl-navigation__link" href="/users">{{user_link}}</a>
                    <a class="mdl-navigation__link" href="/home">{{home_link}}</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">SecureCloud</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/files">{{files_link}}</a>
                <a class="mdl-navigation__link" href="/settings">{{settings_link}}</a>
                <a class="mdl-navigation__link" href="/users">{{user_link}}</a>
                <a class="mdl-navigation__link" href="/home">{{home_link}}</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content"></div>
            <ul>
                {% for file in files %}
                <li>
                    <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                        {{ (request.path + '/' if request.path != '/' else '') + file }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" 
                style="position: fixed; bottom: 30px; right: 30px;" href="/upload/shared/">{{upload_link}}</a>
            
            </div>
        </main>
    </div>

</body>

</html>
