Event card 2 
        <style>
          .card-event.mdl-card {
            width: 300px;
            height: 256px;
            background: #e74d3c;
            border-radius: 20px;
            margin-left: 10px;
            margin-top: 10px;
          }

          .card-event>.mdl-card__actions {
            border-color: rgba(255, 255, 255, 0.2);
          }

          .card-event>.mdl-card__title {
            align-items: flex-start;
          }

          .card-event>.mdl-card__title>h4 {
            margin-top: 0;
          }

          .card-event>.mdl-card__actions {
            display: flex;
            box-sizing: border-box;
            align-items: center;
          }

          .card-event>.mdl-card__actions>.material-icons {
            padding-right: 10px;
          }

          .card-event>.mdl-card__title,
          .card-event>.mdl-card__actions,
          .card-event>.mdl-card__actions>.mdl-button {
            color: #fff;
            border-radius: 20px;
          }
        </style>

        <div class="card-event mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h4>
              <b><u>Ereignis</u></b><br>
              1. Januar 2022<br>
              <b>Neujahrstag</b><br>
              Ganztägig

            </h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Zum Kalender hinzufügen
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">event</i>
          </div>
        </div>