<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SecureCloud - {{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik">
    <link rel="shortcut icon" href="../static/favicon.png">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


</head>

<body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{title}}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="files">{{files_link}}</a>
                    <a class="mdl-navigation__link" href="settings">{{settings_link}}</a>
                    <a class="mdl-navigation__link" href="users">{{user_link}}</a>
                    <a class="mdl-navigation__link" href="home">{{home_link}}</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">SecureCloud</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="files">{{files_link}}</a>
                <a class="mdl-navigation__link" href="settings">{{settings_link}}</a>
                <a class="mdl-navigation__link" href="users">{{user_link}}</a>
                <a class="mdl-navigation__link" href="home">{{home_link}}</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                <h4 style="margin-left: 10px;"><b>{{upl_up_to}}</b></h4>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="margin-left: 10px;" href="settings">{{change}}</a>


                <div class="container-fluid mt-5">
                    <div class="row m-0">
                        <div class="col-sm-6 col-md-6">

                            <form method="post" enctype="multipart/form-data">
                                <input type="file" id="imgInp" name="file" style="margin-left: 10px; margin-top: 20px;">
                                <br>
                                <input type=submit value={{title}} style="margin-left: 10px; margin-top: 10px">
                            </form>

                        </div>
                    </div>
                </div>


                </section>
            </div>
        </main>
    </div>

</body>

</html>